In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kushv\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kushv\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kushv\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kushv\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kushv\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kushv\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

In [13]:
data=pd.read_excel("C:\\Users\\kushv\\Downloads\\Copy of DATest_2.xlsx",sheet_name="Age_Input")
data

                                   User Id       Age   Keyword
0     00831062-d45b-11ee-8482-128e718ba88f     25-34     Total
1     00ac49e8-d45a-11ee-8482-128e718ba88f     35-45     Total
2     00fd1031-d466-11ee-8482-128e718ba88f  Above 50     Total
3     011c0f25-d464-11ee-8482-128e718ba88f  Above 50     Total
4     01bc1864-d460-11ee-8482-128e718ba88f  Below 25     Total
...                                    ...       ...       ...
1933  fbd0ca7d-d466-11ee-8482-128e718ba88f     25-34  Rejector
1934  fc2bce87-d467-11ee-8482-128e718ba88f  Below 25  Rejector
1935  fc3b09c3-d465-11ee-8482-128e718ba88f  Below 25  Rejector
1936  fd339b8a-d469-11ee-8482-128e718ba88f     35-45  Rejector
1937  0030b069-d45e-11ee-8482-128e718ba88f     25-34     Total

[1938 rows x 3 columns]

In [15]:
data["Age"]

0          25-34
1          35-45
2       Above 50
3       Above 50
4       Below 25
          ...
1933       25-34
1934    Below 25
1935    Below 25
1936       35-45
1937       25-34
Name: Age, Length: 1938, dtype: object

In [17]:
data["Keyword"][970]

'Intender'

In [19]:
data["Keyword"][1262]

'Owner'

In [21]:
data["Keyword"][1702]

'Rejector'

In [23]:
data

                                   User Id       Age   Keyword
0     00831062-d45b-11ee-8482-128e718ba88f     25-34     Total
1     00ac49e8-d45a-11ee-8482-128e718ba88f     35-45     Total
2     00fd1031-d466-11ee-8482-128e718ba88f  Above 50     Total
3     011c0f25-d464-11ee-8482-128e718ba88f  Above 50     Total
4     01bc1864-d460-11ee-8482-128e718ba88f  Below 25     Total
...                                    ...       ...       ...
1933  fbd0ca7d-d466-11ee-8482-128e718ba88f     25-34  Rejector
1934  fc2bce87-d467-11ee-8482-128e718ba88f  Below 25  Rejector
1935  fc3b09c3-d465-11ee-8482-128e718ba88f  Below 25  Rejector
1936  fd339b8a-d469-11ee-8482-128e718ba88f     35-45  Rejector
1937  0030b069-d45e-11ee-8482-128e718ba88f     25-34     Total

[1938 rows x 3 columns]

In [25]:
df1=data.groupby("Age")["Keyword"].value_counts().unstack(fill_value=0)

In [27]:
df1

Keyword   Intender  Owner  Rejector  Total
Age
25-34          142    166       105    413
35-45           80    123        67    270
46-50           11     24         2     37
Above 50        17     54         6     77
Below 25        33     62        36    131

In [29]:
df1=df1.reset_index()

In [31]:
df1

Keyword       Age  Intender  Owner  Rejector  Total
0           25-34       142    166       105    413
1           35-45        80    123        67    270
2           46-50        11     24         2     37
3        Above 50        17     54         6     77
4        Below 25        33     62        36    131

In [33]:
df1=df1.drop(["Total"],axis=1)

In [35]:
df1

Keyword       Age  Intender  Owner  Rejector
0           25-34       142    166       105
1           35-45        80    123        67
2           46-50        11     24         2
3        Above 50        17     54         6
4        Below 25        33     62        36

In [37]:
order=['Below 25','25-34','35-45','46-50','Above 50']
df1["Age"]=pd.Categorical(df1["Age"],categories=order,ordered=True)

df1=df1.sort_values("Age").reset_index(drop=True)

In [39]:
df1

Keyword       Age  Intender  Owner  Rejector
0        Below 25        33     62        36
1           25-34       142    166       105
2           35-45        80    123        67
3           46-50        11     24         2
4        Above 50        17     54         6

In [41]:
df1.to_csv("ProjectLatestsat.csv",index=False)

In [43]:
df1

Keyword       Age  Intender  Owner  Rejector
0        Below 25        33     62        36
1           25-34       142    166       105
2           35-45        80    123        67
3           46-50        11     24         2
4        Above 50        17     54         6

In [51]:
#adding a new column
df1['C']=['1','1','2','3','5']

In [53]:
df1

Keyword       Age  Intender  Owner  Rejector  C
0        Below 25        33     62        36  1
1           25-34       142    166       105  1
2           35-45        80    123        67  2
3           46-50        11     24         2  3
4        Above 50        17     54         6  5